﻿@model IEnumerable<DMQUYETTIEN.Models.BangSanPham>

@{
    ViewBag.Title = "Trang chủ";
}

<h2>Bảng Sản Phẩm</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table id="BangSanPham" class="table table-bordered table-condensed table-hover table-responsive table-striped">
    <thead>
        <tr class="table danger">
            <th>
                Mã sản phẩm
            </th>
            <th>
                Tên Sản Phẩm
            </th>
            <th>
                Giá Bán
            </th>
            <th>
                Giá Gốc
            </th>
            <th>
                Giá Góp
            </th>
            <th>
                Số Lượng Tồn Kho
            </th>
            <th>
                Tên Loại
            </th>    
            <th>Hình Sản Phẩm</th>        
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.MaSP
                </td>
                <td>
                    @item.TenSP
                </td>
                <td>
                    @item.GiaBan.ToString("N0")
                </td>
                <td>
                    @item.GiaGoc.ToString("N0")
                </td>
                <td>
                    @item.GiaGop.ToString("N0")
                </td>
                <td>
                    @item.SoLuongTon.ToString("N0")
                </td>
                <td><img src="@Url.Action("Details", new { id = item.id })" width="150" height="100" /></td>
                <td>
                    @item.LoaiSanPham.TenLoai
                </td>
                <td>
                    <a title="Sửa" href="@Url.Action("Edit",new { id = item.id })">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a title="Xem chi tiết" href="@Url.Action("Details",new { id = item.id }) ">
                        <span class="glyphicon glyphicon-list-alt"></span>
                    </a>
                    <a title="Xóa" href="@Url.Action("Delete",new { id = item.id }) ">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>                    
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>    
    <script>
        $(document).ready(function () {
            $('#BangSanPham').DataTable();
        });
    </script>
}