﻿@model IEnumerable<DMQUYETTIEN.Models.LoaiSanPham>

@{
    ViewBag.Title = "Index";
}

<h2>Tạo Loại Sản Phầm nè</h2>

<p>
    @Html.ActionLink("Tạo mớiii", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên Loại
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            Tên loạiiii
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id=item.id }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.id }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
